html {
    scroll-behavior: smooth;
}
body {
    margin: 0px 0px 0px 0px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(91,91,91,1) 50%, rgba(0,0,0,1) 100%); 
    max-height: 5000px;
}